
* {
    box-sizing: border-box;
}

body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    font-family: "Poppins,san-sarif";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}